body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (max-width: 768px) {

  .App{
    overflow-x: hidden;
    width:100vw;
  }

}


.nav-bar{
  background-color: rgb(19, 19, 32);
  margin-bottom:3rem;
}


.real-nav{

  width:1080px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin:auto;

}

.head{
  display:flex;
  gap:1rem;
  padding:1rem;
}

.img-shop{
  width:60px;
  height:60px;
  border-radius: 50px;
  margin:0.5rem;
}

.shop-name{
  color: rgb(6, 248, 6);
}

.last-nav{

  display: flex;
  gap:1rem;
  color:white;
  padding:1rem;
}

.icon{
  width:30px;
  height:30px;
  position: relative;
}

.cart-no{
  position: absolute;
  width:15px;
  height: 15px;
  border-radius: 20px;
  color:white;
  background-color: greenyellow;
  padding:0.3rem;
  top: 17px;
  right:200px;
  font-size: medium;
  display: flex;
  justify-content: center;
  align-items: center;
}

.NavLink-item{
  text-decoration: none;
  color:white;
}

@media (max-width: 768px) {

  .nav-bar {
    margin-bottom: 1.5rem;
  }

  .real-nav {
    width: 100%;
    padding: 0 1rem;
    flex-direction: row;
  }

  .head {
    gap: 0.5rem;
    padding: 0.5rem 0;
    align-items: center;
  }

  .img-shop {
    width: 40px;
    height: 40px;
    margin: 0;
  }

  .shop-name {
    font-size: 1.2rem;
  }

  .last-nav {
    gap: 0.8rem;
    padding: 0.5rem 0;
    align-items: center;
    margin-right: 2rem;
  }

  .last-nav h2 {
    font-size: 1rem;
  }

  .icon {
    width: 24px;
    height: 24px;
  }

  .NavLink-item {
    position: relative;
  }

  .cart-no {
    position: absolute;
    top: 6.5px;
    right: -8px;
    width: 16px;
    height: 16px;
    font-size: 11px;
    padding: 0;
  }
}

@media (max-width: 480px) {

  .shop-name {
    font-size: 1rem;
  }

  .last-nav h2 {
    font-size: 0.9rem;
  }

  .icon {
    width: 22px;
    height: 22px;
  }

  .cart-no {
    width: 14px;
    height: 14px;
    font-size: 10px;
  }
}

.eco-link{
  color:rgb(6, 248, 6);
}

.home-bar{
  max-width:1080px;
  display:grid;
  grid-template-columns: repeat(4,1fr);
  gap:1rem;
  margin:auto;
}

.card-img{
  width:10rem;
  height:12rem;
}

.product-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:250px;
  border:1px solid gray;
  border-radius: 10px;
  box-shadow: 3px 5px rgb(188, 182, 182);
  transition: transform 200ms ease-in-out;
  background-color: white;
}

.product-card:hover{
  transform: scale(1);
}

.para-desc{
  text-align: center;
  margin-left: 1.6rem;
  margin-right: 1.6rem;
  font-family: 'Times New Roman', Times, serif;
}

.last-sec{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:4rem;
  margin-top:0.5rem;
}

.cart-but{

  border-radius: 20px;
  width:100px;
  height: 30px;
  padding:0.2rem;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  cursor: pointer;
  font-size: medium;
  background-color: white;
  border: 1px solid black;
}

.last-para{
  color: rgb(6, 248, 6);
}


@media (max-width: 768px) {

  .home-bar {
    max-width: 100%;
    padding: 0 1rem;
    grid-template-columns: repeat(2, 1fr); 
    gap: 1rem;
    justify-items: center;
  }

  .product-card {
    width: 100%;          
    max-width: 180px;     
    box-shadow: 2px 3px rgb(188, 182, 182);
  }

  .card-img {
    width: 8rem;
    height: 10rem;
  }

  .para-desc {
    font-size: 0.85rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .last-sec {
    gap: 1.5rem;          
    margin-top: 0.5rem;
  }

  .cart-but {
    width: 90px;
    height: 28px;
    font-size: 0.8rem;
  }

  .last-para {
    font-size: 0.9rem;
  }
}
@media (max-width: 480px) {

  .home-bar {
    grid-template-columns: 1fr; 
  }

  .product-card {
    max-width: 260px;
  }

  .card-img {
    width: 9rem;
    height: 11rem;
  }

  .para-desc {
    font-size: 0.9rem;
  }

  .cart-but {
    width: 100px;
    font-size: 0.85rem;
  }
}


.cart-div{
  display: flex;
  width:1080px;
  margin: auto;

}

.last-card{
  display: flex;
  width:70%;
  gap:3rem;
}

.pri-ico{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15rem;
}

.linediv{
  display: flex;
  flex-direction: column;
}

.ico-div{
  width:40px;
  height: 40px;
  border-radius: 40px;
  background-color: yellow;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ico{
  color:red;
  width:20px;
  height:20px;
  cursor: pointer;
}

.card-img2{
  width:10rem;
  height: 18rem;
}

.line{
  width:630px;
  height: 2px;
  padding: 1px;
  border-radius: 3px;
  background-color: black;
  border: 1px solid black;
  margin-top:1rem ;
  margin-bottom: 2rem;
}

.sum-card{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 100vh;
  width:50%;
}

.cart-head{
  color:rgb(2, 113, 2);
  font-family: 'Times New Roman', Times, serif;
  font-size: x-large;

}

.sum{
  color:rgb(7, 127, 7);
  font-family: 'Times New Roman', Times, serif;
  margin-left:4rem;
  font-size: xx-large;

}

.para-item{
  margin:1rem;
  font-family: 'Times New Roman', Times, serif;
  font-size: x-large;
  padding-left: 1.2em;
}

.tot-amt{

  margin-left: 4rem;
  font-family: 'Times New Roman', Times, serif;
  font-size: larger;
}

.check{
  width:100%;
  padding:0.5rem;
  color:white;
  background-color: green;
  margin-left:1.5rem;
  border-radius:5px;
  font-family: 'Times New Roman', Times, serif;
  font-size: larger;
}

.check:hover{
  background-color: rgb(12, 245, 12);
}

.last{
  width:90vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:2rem;
  height: 70vh;
  font-family: 'Times New Roman', Times, serif;
  background-image: url(" https://tse3.mm.bing.net/th?id=OIP.tOiAM6Db5acOOVS2wA_MRQHaHv&pid=Api&P=0&h=180");
  background-repeat: no-repeat;
  background-size:contain;
  background-position: center;
}

.shop{
  padding: 0.7rem;
  color:white;
  background-color: green;
  font-size: larger;
  text-decoration: none;
  border-radius: 3px;
  width:150px;
}

.last-head{
  color: red;
  font-family: 'Times New Roman', Times, serif;
  font-size: xx-large;
}

@media (max-width: 768px) {

  .cart-div {
    flex-direction: column;
    width: 90%;
    padding: 1rem;
    overflow-x: hidden;
  }

  .ico-div{
    margin-right: 2rem;
  }
  
  .Cart_item_head
  {
    font-size: medium;
    text-align: left;
    padding-left: 1rem;
    width:90%;
  }

  .Cart_item_desc
  {
    font-size: small;
    text-align: left;
    padding-left: 1rem;
    width:90%;
  }
  .Cart_item_price
  {
    padding-left: 1rem;
  }

  .last-card {
    width: 100%;
    flex-direction: column;
    gap: 1rem;
  }

  .card-img2 {
    width: 100%;
    height: auto;
    max-height: 250px;
    object-fit: contain;
  }

  .pri-ico {
    justify-content: space-between;
    gap: 1rem;
  }

  .line {
    width: 100%;
  }

  .sum-card {
    width: 100%;
    height: auto;
    margin-top: 2rem;
    align-items: center;
  }

  .sum {
    margin-left: 0;
    text-align: center;
  }

  .tot-amt {
    margin-left: 0;
    text-align: center;
  }

  .check {
    margin-left: 0;
    width: 100%;
  }

  .para-item {
    padding-left: 0;
    text-align: center;
  }

  .cart-head {
    text-align: center;
  }

  .last {
    width: 100%;
    padding: 1rem;
    background-size: contain;
  }

  .last-head {
    text-align: center;
    font-size: x-large;
  }

  .shop {
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 480px) {

  .pri-ico h3 {
    font-size: 1rem;
  }

  .sum {
    font-size: 1.5rem;
  }

  .cart-head {
    font-size: 1.2rem;
  }

  .check {
    font-size: 1rem;
    padding: 0.6rem;
  }
}
